body {
    font-family : 'Hind', sans-serif;
    font-size   : 15px;
    line-height : 1.8em;
    color       : #6E6E6E;
    font-weight : 300;
    background  : #f8f8f8;
    }

/* --------------------------------------
 * Global Typography
 *------------------------------------------*/

h1 {
    font-size   : 36px;
    line-height : 1.8em;
    font-weight : 700;
    margin      : 0 0 15px;
    color       : #444444;
    }

h2 {
    font-size   : 15px;
    color       : #444444;
    font-weight : bold;
    display     :inline;
    }


/* --------------------------------------
 * LINK STYLE
 *------------------------------------------*/
a {
    color              : #C59353;
    text-decoration    : none;
    -webkit-transition : all 0.3s ease 0s;
    -moz-transition    : all 0.3s ease 0s;
    -o-transition      : all 0.3s ease 0s;
    transition         : all 0.3s ease 0s;
    }

a,
a:active,
a:focus,
a:active {
    text-decoration : none;
    outline         : none
    }

a:hover,
a:focus {
    text-decoration : none;
    color           : #C59353;
    }

p {
    margin-bottom : 20px;
    }

strong {
    color : #444444;
    }

ul {
    margin-left     : 10px;
    padding-left    : 10px;
    }

/* --------------------
 *  main Wrapper
 * -------------------*/
#main-wrapper {
    overflow : hidden;
    }


/*-----------------------------
 * NAVIGATION & HEADER STYLE
 *-----------------------------*/

.header {
    padding    : 50px 0;
    margin     : 0;
    position   : relative;
    border-top : 5px solid #C59353;
    }

.header .profile-wrapper
 {
    margin-right : 30px;
    }

.header .name-wrapper {
    margin-bottom : 30px;
    }

.header .name-wrapper h1 {
    line-height    : 1;
    margin         : 0 0 5px;
    }

.header .name-wrapper span {
    font-size : 24px;
    color     : #C59353;
    }

.header .bio-wrapper
 {
    display: inline-block;
    }

.header .name-wrapper-left
 {
    display: inline-block;
    }

@media (max-width : 768px) {
    .header {
        padding    : 20px 0;
        }

    .header .profile-wrapper {
        margin: 0 0 30px;
        }
    }

@media (max-width : 600px){
    .header{
        padding: 20px;
        }
    }

@media screen and (max-width: 600px) {
    .organization_logo {
        visibility: hidden;
        display: none;
    }
/* --------------------------------------------
 *   Footer
 *---------------------------------------------- */

/* Copyright */

.footer {
    font-size   : 12px;
    padding : 10px 0;
    text-align : center;
    }
